body {
    /*font-family: 'Open Sans';*/
    scroll-behavior: smooth
}

.details h3{
    font-weight:600;
    font-size:1em;
    color:#000;
}


.sticky {
    position: sticky;
    top: 30px;
}

.social{
    /*float: left;*/
    padding-bottom: 2em;
    padding-top: 1em;
    font-size: 1em;
}

.sidebar{
    /*float: left;*/
    padding-bottom: 2em;
    padding-top: 1em;
    font-size: 1em;
}

a:hover { color: rgb(200, 0, 0)!important; }
a:active { color: rgb(255, 0, 102) }
